<!DOCTYPE html>
<html>
  <head>
    <title>Itsanovelidea</title>
    <meta name="viewport" content="initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0;"/>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application" %>
    <%= react_component('components/ItsanovelideaTypography')%>
  </head>

  <body>
    <%= react_component('components/DashboardNavBar',{
      urls: @urls,
      myStoriesUrl:my_stories_path,
      myPromptsUrl:my_prompts_path, 
    },{class: "Header",}) if current_user.present? %>
    <%= react_component('components/WelcomeNavBar',{},{class: "Header",}) if !current_user.present? %>
    <%= yield %>
  </body>
</html>
