<%= react_component('MyPrompts',
  {
    url:dashboard_rating_path,
    storiesUrl: stories_path,
    writingPromptsUrl:url_for(controller:'writing_prompts',action:'index'),
    writingPromptsCountUrl:url_for(controller:'writing_prompts',action:'count'),
    storiesCountUrl:stories_count_path,
    userEmail: current_user.email,
    userId: current_user.id,
    userUrl:url_for(controller:'users',action:'show', id: current_user.id),
    createWritingPromptUrl: url_for(controller:'writing_prompts',action:'new'),
    randomWordUrl: url_for(controller:'random_words',action:'index'),
  },{class:"Dashboard"}) 
%>