<%= react_component('MyStories',
  {
    url:dashboard_rating_path,
    storiesUrl: stories_path,
    writingPromptsUrl:url_for(controller:'writing_prompts',action:'index'),
    writingPromptsCountUrl:url_for(controller:'writing_prompts',action:'count'),
    storiesCountUrl:stories_count_path,
    userEmail: current_user.email,
    userId: current_user.id,
    userUrl:url_for(controller:'users',action:'show', id: current_user.id),
  },{class:"Dashboard"}) 
%>