.Login,.SignUp{
    height:85vh;
    color:white;
}

.md-form label, .md-form input{
    color:white;
}

.md-form .prefix.active, .md-form input:focus{
    color: white;
}

.row,.container{
    height:100%;
}

#footerDiv{
    position: fixed;
    bottom: 0;
    width: 100%;
}

input{
    background-color:transparent;
}

input:-internal-autofill-selected,
input:-internal-autofill-selected:hover,
input:-internal-autofill-selected:focus,
input:-internal-autofill-selected:active {
    -webkit-transition-property: background-color !important;
    -webkit-transition-delay: 99999s !important;
    color:white;
}
.ResendConfirmationEmail, .ForgotPassword, .ChangePassword{
    height:90%;
    color:white;
}

.accountHeading {
    text-align: center;
    margin:0px;
    color: black;
}

.grey-text, .text-center {
    text-align: center;
}

.accountDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height:100%;
}
.accountTextField{
    padding:10px;
    padding-top:5px;
}
.accountTextField .MuiTextField-root{
    width:70%;
    max-width: 500px;
}
/*
.accountTextField .MuiInput-root{
    color:white;
}

.accountTextField label{
    color:white;
}

.accountTextField .MuiFormLabel-root.Mui-focused{
    color:lightblue;
}

.accountTextField .MuiInput-underline:after{
    border-bottom-color:lightblue;
}*/