.createWritingPromptDiv{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.createWritingPromptDiv .MuiFormControl-root{
    width:100%;
}

.createWritingPromptDiv .MuiButtonBase-root{
    padding:unset;
    float:left;
}