html,body, .CreateStory > div, .BrainhubCarousel{
    height:100%;
}

.CreateStory{
    padding-top:10px;
    width: 94%;
    margin-left: 3%;
}

.CreateStory .MuiGrid-grid-md-6{
    width:100%
}

.CreateStory, .CreateStory > div > form{
    height:80%;
}

.photoSearch{
    height:50%;
}

.loadingOverlay{
    height:65%;
}

.BrainhubCarousel > div > ul > li{
    width:25vw;
}

.BrainhubCarousel > div > ul > li > img{
    max-height:100%;
    max-width:100%;
    height:auto;
    width:auto;
}

.CreateStory .row{
    height:unset;
}