.dashboardNavBar .brandHeader{
    cursor: pointer;
}

.dashboardNavBar .dashboardMenuToggle{
    display:none;
}

/*TODO Not ideal, but it renders outside of like everything*/
.MuiMenu-paper{
    display:none;
}

.dashboardNavBar .dashboardNavBarLastLink{
    margin-left:auto;
}

@media screen and (max-width: 480px) {
    .dashboardNavBar .MuiToolbar-dense button{
        display:none;
    }
    .dashboardNavBar .MuiToolbar-dense .dashboardMenuToggle{
        display:unset;
        margin-left: auto;
    }

    /*TODO Not ideal, but it renders outside of like everything*/
    .MuiMenu-paper{
        display:unset;
    }
}