.dashboardSearchDiv label span.MuiTypography-root{
    transform: translate(0, 1.5px) scale(0.75);
}

.dashboardSearchDiv .MuiFormControlLabel-labelPlacementTop{
    margin-left:unset;
    margin-right:unset;
    margin-top: -5px;
    float:right;
}
