.dashboardStoriesDiv{
    top: 0;
    height:100%;
    margin-left:10px;
    overflow-x: visible;
    overflow-y:scroll;
    width:100%;
}

.Dashboard .storiesGalleryDiv{
    width:100%;
    margin-left:0%;
}

.Dashboard .MuiGrid-container{
    height:100%;
}

.Dashboard .MuiGrid-item{
    height: 100%;
}

.Dashboard .MuiTab-wrapper{
    font-size: 1.17em;
    font-weight: bold;
}

.Dashboard .storiesGalleryDiv .dashboardStoriesDiv{
    margin-left:unset;
    margin-right: unset;
}

@media (min-width: 600px){
    .dashboardStoriesDiv{
        top: 0;
    }
}

.leftCol{
    z-index: 2;
    height:100%;
}

.Dashboard{
    height:88%;
}

@media (max-height: 550px){
    .Dashboard{
        height:80%;
    }
}

.Dashboard .storiesGalleryDiv {
    height:90%;
}

.Dashboard .writingPromptsListDiv{
    height:92%;
    overflow-y:scroll;
}

.Dashboard .storiesGalleryDiv >div{
    height:100%;
}

.Dashboard .tabDiv{
    height:96%;
}

.Dashboard .leftCol > .searchDiv{
    height:initial;
}

.md-form{
    margin-top:15px;
    margin-bottom: initial;
    color:black;
}

.md-form input:focus{
    color:black;
}

.searchDiv{
    width:100%;
    display:flex;
}

.categorySelect,.md-form,.form-check{
    flex:2;
}
.categorySelect{
    margin-top:15px;
}

/*
.demo-card__secondary{
    height:20%;
    text-overflow:ellipsis;
    word-break: break-all;
    width:100%;
    overflow:hidden;
    flex-grow:0.8;
}

.react-card-flip{
    height:25vh;
}

.mdc-card{
    height: 100%;
    display: flex;
    flex-direction: row;
    border-bottom:1px;
}

.mdc-card__primary-action{
    height:70%;
}

.storyContentDiv > div {
    height:100%;
}

.cardRightRow{
    margin-left:10px;
}
.react-card-back > div, .react-card-back > div > div, .react-card-back > div > div > .storyContentDiv{
    height:100%;
}

.smallCloseStoryBtn{
    background-color:transparent;
    color:black;
    top:5px;
    right:10px;
    position:absolute;
    z-index: 3;
    border:none;
}

.form-check-label{
    margin-top:30px;
    margin-left:40px;
}*/