.EditStory{
    height:85%;
    margin-top: -40px;
}

.EditStory .row {
    height:100%;
}

.EditStory .storyQuillDiv{
    height:80vh;
}

.EditStory .MuiGrid-grid-md-3{
    height: 90%;
    width:7%;
}

.EditStory .storyQuillDiv .quill{
    height:95%;
}

@media(max-height:650px){
    .EditStory .MuiGrid-container{
        height:90%;
    }
}


.EditStory .MuiGrid-grid-md-9{
    width:90%;
    height:90%;
}

.tab-content{
    height:93%;
}

.nav{
    height:7%
}

.row{
    margin-right:unset;
    margin-left:unset;
}

.ql-container.ql-snow{
    height:90%;
}

#chatUpperDiv{
    height:75%;
}

#chatUpperDiv > div{
    height:100%;
}

#chatLowerDiv{
    height:25%;
}

#chatLowerDiv > .md-form{
    margin:unset;
}

#chatLowerDiv > button{
    margin:unset;
    height:30%;
}

.EditStory .MuiGrid-container{
    height: 95%;
}

.EditStory .publishFooter button, .EditStory .publishFooter p{
    display: inline-block;
}

.EditStory .editStoryDiv {
    width:94%;
    height:100%;
    margin-left:3%;
}

.EditStory .editStoryDiv .writingPromptPara{
    width:100%;
}