.exploreStoriesDiv{
    top: 0;
    height:100%;
    margin-left:10px;
    overflow-x: visible;
    overflow-y:scroll;
}

.Explore{
    height: 88%;
}

.Explore .writingPromptCarouselInfiniteDiv{
    width: 94%;
    margin-left: 3%;
}

.Explore > div {
    height:100%;
}

.Explore .writingPromptStoriesDiv{
    height:93%
}

#exploreGalleryDiv{
    height:90%;
}

#exploreGalleryDiv > div, #exploreGalleryDiv > div > div, .exploreStoriesDiv > div {
    height:100%;
}