.focusedItemBackground .hideChildren{
  display: none;
}

.focusedItemBackground {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.focusedStoryViewerDiv .containerDiv{
    height:100%;
}

.focusedStoryViewerDiv img{
  height:30%;
  float:left;
  padding-right:10px;
}

@media (max-width: 600px){
  .focusedStoryViewerDiv img{
    height: unset;
    float: unset;
    padding-right: unset;
    max-height: 50%;
    max-width:100%;
    display: block;
    margin: auto;
  }
}

.focusedItemBackground .gridItemFocused {
    width: 100vw;
    height: 100%;
    z-index: 3;
    position: relative;
}

.focusedItemBackground .gridItemFocused > div, .gridItemFocused > div>div {
    height: 100%;
    width: 100%;
}

.focusedItemBackground .gridItemFocused > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.focusedItemBackground .gridItemFocusedClose {
    position: absolute;
    padding: 16px 32px;
    padding: 1rem 2rem;
    top: 16px;
    top: 1rem;
    right: 16px;
    right: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-size:16px;
}

.focusedItemBackground #publishedStoryExpandedDiv {
    width: 100%;
    height: 100%;
}

.focusedItemBackground #publishedStoryContainerDiv {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 0.5%;
    height: 100%;
}

.focusedStoryViewerDiv{
    background-color: rgba(255, 255, 255, 0.93);
    height: 80%;
    padding: 10px;
    overflow-y: auto;
}

.focusedStoryViewerDiv .ql-editor{
    overflow-y:unset;
}

.focusedItemBackground #publishedStoryTextDiv p{
    white-space: normal;
    word-break: break-word;
    height: 92%;
    overflow-y: auto;
}

.focusedItemBackground .smallCloseStoryBtn {
    margin: 0px;
    right: 0px;
    font-size: 16px;
    position: absolute;
    z-index: 2;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.focusedItemBackground .focusedStoryContentHeaderTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    padding:0px;
    margin: 0px;
}

.focusedItemBackground .focusedStoryContentHeaderAuthor{
    margin: 0px;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
}

.focusedItemBackground .focusedStoryContentHeaderDiv{
    padding:0px;
    margin:0px;
    left:0px;
    right:0px;
    top:0px;
    text-overflow: ellipsis;
    height: 13%;
    background-color: rgba(255, 255, 255, 0.93);
    word-wrap: break-word; 
    white-space: nowrap; 
    display: block; 
    overflow: hidden;
    text-align: left;
    width:unset;
    margin-bottom:10px;
    position: relative;
}

.focusedItemBackground .focusedStoryContentHeaderBottomRow{
    display:flex;
    align-items: flex-end;
    font-size: 25px;
}

.focusedItemBackground .focusedStoryContentHeaderBottomRow .react-rater {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    display: inline;
}

.focusedItemBackground .focusedStoryContentHeaderBottomRow .views {
    padding: 0px;
    font-size: 16px;
    display: inline;
    margin:0px;
    margin-right:5px;
    margin-bottom:5px;
    margin-left: auto;
}

.focusedItemBackground .focusedStoryContentHeaderBottomRow .MuiSvgIcon-root {
    font-size:16px;
}
