.myStoriesDiv .dashboardStoriesDiv{
    overflow-x: unset;
}

.Dashboard .myStoriesDiv .storiesGalleryDiv{
    width: 100%;
}

@media (max-width: 1199px) {
    .Dashboard .myStoriesDiv .storiesGalleryDiv{
        width: 96%;
        margin-left: 2%;
    }
}

@media (max-width: 600px) {
    .Dashboard .myStoriesDiv .storiesGalleryDiv{
        width: 94%;
        margin-left: 3%;
    }
}