.photoCarouselDiv{
    height:200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.photoCarouselDiv .loadingOverlay{
    height: 100%;
}

.photoCarouselDiv .photoContainerDiv{
    height:100%;
}

.photoCarouselDiv .slideInDiv, .photoCarouselDiv .slideOutDiv, .photoCarouselDiv .slideInDiv > div, .photoCarouselDiv .slideOutDiv >div {
    height: 100%;
}

.photoCarouselDiv .photoDiv{
    height:100%;
    background-color: white;
    display: inline-block;
    text-align:center;
}

.photoCarouselDiv .photoDiv>div{
    height:100%;
    position: relative;
}

.photoCarouselDiv .photoDiv:hover{
    transition: all .1s ease-in-out; 
    transform: scale(1.1);
    z-index:100;
    position: relative;
    text-align:center;
    transform-origin:none;
}

.photoCarouselDiv .photoContainerDiv img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    margin-bottom:0;
}

.photoCarouselDiv .arrowContainerDiv{
    display: inline-block;
    vertical-align: top;
    height:100%;
}

.photoCarouselDiv .arrowContainerDiv>div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.photoCarouselDiv .hiddenDiv {
    display: none;
}

.photoCarouselDiv .photosOuterDiv{
    width: 95%;
    height: 100%;
    display: inline-block;
}

.photoCarouselDiv .photosOuterDiv span{
    position: relative; 
    height: 100%;
    width: 100%;
    display: block;
}

.photoCarouselDiv .photosDiv{
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}
  
.photoCarouselDiv .background-enter-negative.background-enter-negative-active {
    transform: translate(0%);
    transition: transform 250ms ease-in-out;
    z-index:-1;
}

.photoCarouselDiv .background-leave-negative {
    transform: translate(0%);
}

.photoCarouselDiv .background-leave-negative.background-leave-negative-active{
    transition: transform 250ms ease-in-out;
}
  
  .photoCarouselDiv .background-enter-positive.background-enter-positive-active {
    transform: translate(0%);
    transition: transform 250ms ease-in-out;
    z-index:-1;
}

.photoCarouselDiv .background-leave-positive {
    transform: translate(0%);
}

.photoCarouselDiv .background-leave-positive.background-leave-positive-active {
    transition: transform 250ms ease-in-out;
  }

.photoCarouselDiv .photoDiv{
    width:20%;
}

.photoCarouselDiv .photoDiv .selected img{
    border-style: solid;
    border-width: 5px;
    border-color: lightpink;
    z-index: 50;
}

.photoCarouselDiv .background-enter-negative,.background-leave-positive.background-leave-positive-active {
    transform: translate(20%);
  }

.photoCarouselDiv .background-leave-negative.background-leave-negative-active,.background-enter-positive {
  transform: translate(-20%);
}

@media (max-width: 1000px){

    .photoCarouselDiv .photosOuterDiv{
        width: 90%;
    }

    .photoCarouselDiv .arrowContainerDiv{
        width:4%;
    }

    .photoCarouselDiv .photoDiv{
        width:25%;
    }
    
    .photoCarouselDiv .background-enter-negative,.background-leave-positive.background-leave-positive-active {
        transform: translate(25%);
      }
    
    .photoCarouselDiv .background-leave-negative.background-leave-negative-active,.background-enter-positive {
      transform: translate(-25%);
    }
    
   /* .photoCarouselDiv .photoDiv:last-child{
        display: none;
    }*/
}

@media (max-width: 800px){

    .photoCarouselDiv .photoDiv{
        width:33%;
    }
    
    .photoCarouselDiv .background-enter-negative,.background-leave-positive.background-leave-positive-active {
        transform: translate(33%);
      }
    
    .photoCarouselDiv .background-leave-negative.background-leave-negative-active,.background-enter-positive {
      transform: translate(-33%);
    }
    
    /*.photoCarouselDiv .photoDiv:last-child, .photoDiv:nth-last-child(2){
        display: none;
    }*/
}

@media (max-width: 600px){

    .photoCarouselDiv .photosOuterDiv{
        width: 85%;
    }

    .photoCarouselDiv .arrowContainerDiv{
        width:7%;
    }

    .photoCarouselDiv .photoDiv{
        width:50%;
    }
    
    .photoCarouselDiv .background-enter-negative,.background-leave-positive.background-leave-positive-active {
        transform: translate(50%);
      }
    
    .photoCarouselDiv .background-leave-negative.background-leave-negative-active,.background-enter-positive {
      transform: translate(-50%);
    }
    
    /*.photoCarouselDiv .photoDiv:not(:first-child):not(:nth-child(2)){
        display: none;
    }*/
}

@media (max-width: 500px){

    .photoCarouselDiv .photosOuterDiv{
        width: 80%;
    }

    .photoCarouselDiv .arrowContainerDiv{
        width:9%;
    }

    .photoCarouselDiv .photoDiv{
        width:100%;
    }
    
    .photoCarouselDiv .background-enter-negative,.background-leave-positive.background-leave-positive-active {
        transform: translate(100%);
      }
    
    .photoCarouselDiv .background-leave-negative.background-leave-negative-active,.background-enter-positive {
      transform: translate(-100%);
    }
    
    /*.photoCarouselDiv .photoDiv:not(:first-child){
        display: none;
    }*/
}