.promptsDiv .averageRatingParagraph {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.promptsDiv .react-rater{
    font-size: 40px;
}

.promptsDiv .MuiTableCell-body {
    font-size: 40px;
}

.promptsDiv .ratingTableCell{
    white-space: nowrap;
}

@media (max-width: 600px){
    .promptsDiv .react-rater{
        font-size: 30px;
    }
    .promptsDiv .MuiTableCell-body {
        font-size: 30px;
    }
}