.storyTileDiv{
    height:100%;
}

.storyTileDiv > div {
    height:100%;
}

.storyTileDiv .storyContentDiv{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.storyTileDiv .storyContentDiv> div{
    height:100%;
}

.storyTileDiv .storyContentDiv > div > img {
    height:100%;
    width:auto;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

.storyTileDiv .storyContentHeaderTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    padding:0px;
    margin: 0px;
}

.storyTileDiv .storyContentHeaderAuthor{
    margin: 0px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
}

.storyTileDiv .storyContentHeaderDiv{
    position:absolute;
    padding:0px;
    margin:0px;
    left:0px;
    right:0px;
    top:0px;
    text-overflow: ellipsis;
    background-color: rgba(255, 255, 255, 0.93);
    word-wrap: break-word; 
    white-space: nowrap; 
    display: block; 
    overflow: hidden;
    text-align: left;
    width:unset;
}

.storyTileDiv .smallCloseStoryBtn {
    margin: 0px;
    right: 0px;
    position: absolute;
    z-index: 2;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.storyTileDiv .storyViewerDiv {
    position: absolute;
    padding:0px;
    margin:0px;
    left:0px;
    right:0px;
    bottom:20px;
    text-overflow: ellipsis;
    height: 72%;
    background-color: rgba(255, 255, 255, 0.93);
    word-wrap: break-word;
    display: block;
    overflow: hidden;
    overflow-y:auto;
    text-align: left;
    width:unset;
}

.storyTileDiv .storyContentDiv >div >div {
    position: absolute;
    padding: 0px;
    margin: 0px;
    height: 100%;
    left: 10px;
    right: 10px;
    top: 10px;
}

.storyTileDiv .storyContentHeaderBottomRow .react-rater {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    display: inline;
}

.storyTileDiv .storyContentHeaderBottomRow .views {
    padding: 0px;
    font-size: 12px;
    display: inline;
    float:right;
    margin:0px;
    margin-right:5px;
}

.storyTileDiv .storyContentHeaderBottomRow .MuiSvgIcon-root {
    font-size:12px;
    vertical-align: text-top;
}

.storyViewerDiv .ql-editor{
  overflow-y:unset;
}

.storyViewerDiv img{
    max-height:60%;
    max-width:50%;
    float:left;
    padding-right:10px;
  }
  
  @media (max-width: 600px){
    .storyViewerDiv img{
      height: unset;
      float: unset;
      padding-right: unset;
      max-height: 50%;
      max-width:100%;
      display: block;
      margin: auto;
    }
  }