#publishedStoryExpandedDiv{
    width:100%;
    height:100%;
}

.focusedItem{
    width:100%;
    height:96%;
}

.focusedItem > div{
    widows: 100%;
    height:100%;
}

#publishedStoryTextContainerDiv{
    width:100%;
    overflow-y: auto;
    padding-left:15%;
    padding-right:15%;
    padding-top:3%;
    height:100%;
}

#publishedStoryTextDiv{
  background-color: rgba(255,255,255,0.97);
  height:95%;
  padding:10px;
  overflow-y:auto;
}

nav{
    background-color:#e91e63ee;
}

.gridItemFocused {
    width: 100vw;
    height: 100vh;
    z-index: 3;
    position: relative;
  }
  
  .gridItemFocused > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gridItemFocusedClose {
    position: absolute;
    padding: 1rem 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background-color: transparent;
    font-size: 3rem;
    border: none;
    color: white;
  }
  
  .gridItemFocusedClose:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .focusedItemBackground {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gridItemJob {
    font-size: 1rem;
    font-weight: normal;
  }
  
  .gridItemDescription {
    max-width: 40rem;
    margin: 0 auto;
    color: white;
    line-height: 1.6;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  
  .gridItemFocused .gridItemBackground {
    top: 0%;
    opacity: 1;
  }
  
  .gridItemFocused .gridItemTitle {
    font-size: 3.2rem;
    color: white;
    margin-top: 0;
  }
  
  .gridItemFocused .gridItemAvatar {
    width: 12rem;
    height: 12rem;
    background: #5c657b;
  }
  
  .gridItemFocused .gridItemJob {
    font-size: 1.8rem;
    color: white;
  }

  .storyContentDiv{
    position: relative;
    text-align: center;
    color:black;
    display: inline-block;
  }

  .storyContentHeader {
    position: absolute;
    top: 8px;
    left: 16px;
    text-overflow: ellipsis;
    height:10%;
    width:90%;
    background-color:#ffffffcc;
    word-wrap: break-word;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-align:left;
}

.storyContentText {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-overflow:ellipsis;
    height:60%;
    width:90%;
    background-color:#ffffffcc;
    word-wrap: break-word;
    display: block;
    overflow: hidden;
    text-align:left;
}

.gridItemFocused > div, .gridItemFocused > div>div{
    height:100%;
    width:100%;
}

.gridItemDescription >div >div {
    position: relative;
    text-align: center;
    color:black;
}

img{
  position: relative;
}

.noStoriesMessage{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.46667);
}

.noStoriesGalleryDiv{
  display:flex;
  height: 40%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* The body has some weird margins, so this fixes that for now */
.storiesGalleryDiv{
  width: 98%;
  margin-left:1%;
}

.storiesGalleryDiv .infinite-scroll-component .MuiGridListTile-root{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:5px;
}

.storiesGalleryDiv .infinite-scroll-component{
  margin-left: 25px;
  margin-right: 25px;
}

@media (min-width: 1100px){
  .storiesGalleryDiv .infinite-scroll-component{
    margin-left: 10px;
    margin-right: 10px;
  }
}

.storiesGalleryLoadingDiv{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.storiesGalleryDiv .MuiCircularProgress-root{
  display:inline-block;
}