.storyQuillDiv{
    height:100%;
    display: flex;
    flex-flow: column;
}

.storyQuillDiv .quill{
    flex: 1;
    display: flex;
    flex-flow: column;
}

.storyQuillDiv .revertDiv{
    flex: 1;
    display: flex;
    flex-flow: column;
}

.storyQuillDiv .ql-container{
    flex: 1;
}

.storyQuillDiv .hidden{
    display:none;
}