.storyHistoryDiv .timelineEvent{
    widows: 100%;
    overflow-wrap: break-word;
}

.storyHistoryDiv .addDiv{
    background-color: #f0fff4;
    color: #22863a
}

.storyHistoryDiv section{
    overflow-y:auto;
}

.storyHistoryDiv .deleteDiv{
    background-color: #ffeef0;
    color: #b31d28;
}

.storyHistoryDiv, .storyHistoryDiv>div, .storyHistoryDiv>div>section, .storyHistoryDiv .infiniteScroll{
    height: 100%;
}

.storyHistoryDiv .MuiPaper-root{
    max-width: 300px;
}
