
.leftAlignedFilterDiv.form-check.position-relative{
	width:50%;
	justify-content: normal;
}

.rightAlignedFilterDiv.form-group.position-relative{
	width:50%;
	display:block;
}

#accessRuleSelect,#accessRuleLabel{
	display:inline-block;
}

#rightAlignedInnerDiv{
	display:inline-block;
	float:right;
}

.StoriesList{
	height:90%;
}

.StoriesList .row, .StoriesList .row .col-sm-6, #storyListDiv{
	height:100%;
}

.o-teaser__content{
	height:100%;
}

.teaserDiv{
	height:27%;
}
