.cardRightRow{
    margin-left:10px;
    height:100%;
    width:74%;
}

.storyContentDiv{
    position: relative;
    text-align: center;
    color:black;
    display: inline-block;
}

.storyContentText {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-overflow:ellipsis;
    height:60%;
    width:90%;
    background-color:#ffffffcc;
    word-wrap: break-word;
    display: block;
    overflow: hidden;
    text-align:left;
}

.react-card-flip{
    height:200px;
}

.mdc-card{
    height: 100%;
    display: flex;
    flex-direction: row;
    border-bottom:1px;
    width:100%;
}

.mdc-card__primary-action{
    height:70%;
}

.demo-card__primary{
    height:20%;
    width:100%;
}

.cardRightRow .storyViewerDiv{
    padding-top: 10px;
    height: 45%;
    text-overflow:ellipsis;
    width:100%;
    overflow:hidden;
    flex-grow:0.8;
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 15px;
}

.demo-card__title{
    margin-top:10px;
    margin-bottom: 5px;
    width:100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.demo-card__subtitle{
    height: 40%;
    text-overflow: ellipsis;
    word-break: break-all;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 10px;
}

.storyCardImage{
    width:25%;
    object-fit: contain;
}

.mdc-card__actions{
    padding-top:0px;
}

.storyCardDiv .views{
    font-size:12px;
    padding:3px;
    justify-content: flex-end;
    display: flex;
    flex: 1;
}

.storyCardDiv .views .MuiSvgIcon-root{
    font-size:12px;
    vertical-align: text-top;
}

.storyCardDiv .mdc-card__action--button{
    padding:0.05vw;
}

.storyCardDiv .react-rater{
    font-size:12px;
    padding:4px;
    padding-right:8px;
}

.storyCardDiv .mdc-card__action-buttons{
    width:100%;
}

.storyCardDiv .mdc-card__actions{
    padding:0px;
}