.storiesStatsDiv .averageRatingParagraph {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.storiesStatsDiv .react-rater{
    font-size: 60px;
}
.storiesStatsDiv .MuiTableCell-body {
    font-size: 60px;
}

.storiesStatsDiv .ratingTableCell{
    white-space: nowrap;
}

@media (max-width: 600px){
    .storiesStatsDiv .react-rater{
        font-size: 30px;
    }
    .storiesStatsDiv .MuiTableCell-body {
        font-size: 30px;
    }
}