.termsOfUseContainer{
    background: white;
    width:80%;
    margin-left: 10%;
    height:80%;
    margin-top:5%;
    overflow:hidden;
    padding-left: 10px;
    position: relative;
}

.termsOfUseContainer .termsOfUseBody{
    height:80%;
    width:100%;
    overflow-y:auto;
    word-break: break-word;
}

.termsOfUseContainer .smallCloseStoryBtn {
    margin: 0px;
    right: 0px;
    font-size: 16px;
    position: absolute;
    z-index: 2;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}