/* Copy Pasted from writing prompt card css*/
.userCardDiv .headingDiv p{
    display:inline-block;
    margin-top:5px;
    margin-bottom: 5px;
}

.userCardDiv .headingDiv .dateParagraph{
    text-align: right;
    float:right;
    width:30%;
}

.userCardDiv .footerDiv .storiesCountDiv,.react-rater,.views{
    display: inline-block;
}

.userCardDiv .footerDiv .react-rater{
    font-size: 12pt;
    float:right;
}

.userCardDiv .storiesCountDiv .MuiSvgIcon-root, .userCardDiv .views .MuiSvgIcon-root{
    font-size:12px;
    margin-top:3px;
    vertical-align: text-top;
}

.userCardDiv .authorParagraph{
    text-overflow: ellipsis;
    overflow: hidden;
    width:70%;
}

.userCardDiv .MuiLink-underlineHover{
    cursor: pointer;
}