/* Copy pasted from WritingPromptsList.css*/
.usersListDiv .userCardsListDiv{
    display:none;
}

.usersListDiv .userCardsListDiv .MuiCardContent-root{
    margin:10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.usersListDiv .MuiLink-underlineHover{
    cursor: pointer;
}

.usersListDiv{
  width:94%;
  margin-left:3%;
}

.usersListDiv .MuiTableRow-root{
    height: 50px;
}

@media(max-width:800px){
    .usersListDiv{
        width:100%;
        margin-left:0;
    }

    .usersListDiv .MuiTable-root{
        display: inline;
    }
    .usersListDiv .MuiTableBody-root{
        display:none;
    }
    .usersListDiv .userCardsListDiv{
        display:unset;
    }
    .usersListDiv th{
        display:inline-block;
    }
    .usersListDiv .textSearchCell{
        width:50%;
    }
    .usersListDiv .authorSearchCell{
        width:50%;
    }
    .usersListDiv .MuiInput-underline,.MuiFormLabel-root.MuiInputLabel-root{
        font-size: 0.8rem;
    }
    th.MuiTableCell-sizeSmall{
        padding:0px;
        padding-right:0px;
        font-size:0.8rem;
    }
}