.Header{
    padding-bottom:48px;
}
.welcomeNavBar .brandHeader {
    flex-grow: 1;
    cursor: pointer;
}

.welcomeNavBar{
    z-index: 10000;
}

.welcomeNavBar .welcomeMenuToggle{
    display:none;
}

/*TODO Not ideal, but it renders outside of like everything*/
.MuiMenu-paper{
    display:none;
}

@media screen and (max-width: 480px) {
    .welcomeNavBar .MuiToolbar-dense button{
        display:none;
    }
    .welcomeNavBar .MuiToolbar-dense .welcomeMenuToggle{
        display:unset;
    }

    /*TODO Not ideal, but it renders outside of like everything*/
    .MuiMenu-paper{
        display:unset;
    }
}