#fullPageDiv{
    width:100%;
    height:100%;
}

.slick-slider{
    height:85%;
}

.slick-list,.slick-track{
    height:100%
}

/*Why is this being included on other pages???*/
.Welcome > .slick-active > div{
    height:40vw;
    width:55vw;
    margin:auto;
    font-size:1vw;
}

.page{
    overflow-wrap:break-word;
    font-family: "Lucida Console", Monaco, monospace;
}

.leftPage,.rightPage{
    padding-left: 3vw;
}

.slick-slide>div, .book-div{
    width: 100%;
    height: 100%;
}

.slick-slide img{
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.slick-prev, .slick-next,.slick-prev:before,.slick-next:before{
    color:inherit;
}

.slick-prev:hover, .slick-next:hover{
    color:none;
}

#pageDiv>div {
    height:100%;
}

.slick-dots li button:before{
    color:inherit;
}

.book-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:inherit;
    font-size:50px;
    font-weight: bold;
  }

  .book-div{
    position: relative;
    text-align: center;
    color: inherit;
  }
  

  .welcomePageDiv{
      top:55.6px;
  }

  @media (min-width: 600px){
    .welcomePageDiv{
        top: 64px;
    }
  }

.navbar-toggler-icon{
    display:none;
}

@media (max-width: 767px) and (min-width: 400px), (max-width: 850px) and (min-width: 800px){
     .navbar.fixed-top .navbar-collapse {
        overflow-y:hidden;
    }
    .navbar-toggler-icon{
        display:inherit
    }
}