.writingPromptStoriesDiv .searchContainerDiv{
    margin-left: 25px;
    margin-right: 25px;
  }
  
  @media (min-width: 1100px){
    .writingPromptStoriesDiv .searchContainerDiv{
      margin-left: 10px;
      margin-right: 10px;
    }
  }

.writingPromptStoriesDiv .MuiFormControl-root{
    width:50%;
}
