.writingPromptCardDiv .headingDiv p{
    display:inline-block;
    margin-top:5px;
    margin-bottom: 5px;
}

.writingPromptCardDiv .headingDiv .dateParagraph{
    text-align: right;
    float:right;
    width:30%;
}

.writingPromptCardDiv .footerDiv .storiesCountDiv,.react-rater,.views{
    display: inline-block;
}

.writingPromptCardDiv .footerDiv .react-rater{
    font-size: 12pt;
    float:right;
}

.writingPromptCardDiv .storiesCountDiv .MuiSvgIcon-root, .writingPromptCardDiv .views .MuiSvgIcon-root{
    font-size:12px;
    margin-top:3px;
    vertical-align: text-top;
}

.writingPromptCardDiv .MuiCardContent-root{
    width:90%;
    margin: 10px;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.writingPromptCardDiv .authorParagraph{
    text-overflow: ellipsis;
    overflow: hidden;
    width:70%;
}

.writingPromptCardDiv .MuiLink-underlineHover{
    cursor: pointer;
}