
.writingPromptsListDiv .writingPromptCardsListDiv{
    display:none;
}

.writingPromptsListDiv .MuiLink-underlineHover{
    cursor: pointer;
}

@media(max-width:800px){
    .writingPromptsListDiv .MuiTable-root{
        display: inline;
    }
    .writingPromptsListDiv .MuiTableBody-root{
        display:none;
    }
    .writingPromptsListDiv .writingPromptCardsListDiv{
        display:unset;
    }
    .writingPromptsListDiv th{
        display:inline-block;
    }
    .writingPromptsListDiv .textSearchCell{
        width:50%;
    }
    .writingPromptsListDiv .authorSearchCell{
        width:50%;
    }
    .writingPromptsListDiv .MuiInput-underline,.MuiFormLabel-root.MuiInputLabel-root{
        font-size: 0.8rem;
    }
    th.MuiTableCell-sizeSmall{
        padding:0px;
        padding-right:0px;
        font-size:0.8rem;
    }
}