.writingPromptsDiv{
    width: 94%;
    margin-left: 3%;
}

.WritingPrompts {
    height:85%;
}

.WritingPrompts .leftCol > div {
    height:100%;
}

.WritingPrompts a.writingPromptLink:hover{
    text-decoration: underline;
}
