.writingPromptCarouselDiv{
    font-size: 16px;
}

@media(max-width:800px){
    .writingPromptCarouselDiv{
        font-size: 16px;
    }}

.writingPromptCarouselDiv .BrainhubCarousel__arrows {
    background:transparent;
}

.writingPromptCarouselDiv .BrainhubCarousel__arrows span{
    border-color: black;
}

.writingPromptCarouselDiv .BrainhubCarousel p {
    background-color: rgba(255, 255, 255, 0.46667);
    margin-top:unset;
}

.writingPromptCarouselDiv .BrainhubCarouselItem{
    top: 8px;
    bottom: 8px;
}
