.writingPromptCarouselInfiniteDiv>div{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top:10px;
}

.writingPromptCarouselInfiniteDiv .promptTextParagraph{
    text-align: center;
    display:inline-block;
    width:100%;
    margin-bottom:0;
}

.writingPromptCarouselInfiniteDiv .promptTextParagraphExit{
    position: absolute;
    text-align: center;    
    margin-top:0px;
    display: none;
}
