<%= react_component('Login',{
  loginUrl:user_session_path,
  rememberable: devise_mapping.rememberable?,
  googleUrl: user_google_oauth2_omniauth_authorize_path,
  redditUrl: user_reddit_omniauth_authorize_path,
  facebookUrl: user_facebook_omniauth_authorize_path,
},{class:"Login"})%>

  <%= render "devise/shared/links" %>
