<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :story_text %>
  </div>

  <div class="field">
    <%= form.label :minRating %>
    <%= form.text_field :minRating, id: :story_minRating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
