<%= react_component('EditStory',
  {
    nodeUrl: @node_url,
    railsUrl:url_for(action:'versions'),
    publishUrl: url_for(action:'publish'),
    storyUrl: url_for(action:'show'),
    documentId: @story.id.to_s,
    storyTitle: @story.name,
    writingPromptText: @story.writing_prompt.text,
  },{
    class: "EditStory",
  }) 
%>