<%= react_component('CreateStory',
  {
    writingPromptId: @writing_prompt.id,
    writingPromptText: @writing_prompt.text,
    url:url_for(action:'index'),
    photosUrl: url_for(controller:'photos',action:'search'),
  },{class: "CreateStory",}) 
%>
