<%= react_component('ShowStory',
  {
    redditLink: "https://www.reddit.com#{@story.reddit_permalink}",
    photoBackgroundColor:@story.photo_background_color,
    photoUrl:@story.photo_url,
    impressions_count:@story.impressions_count,
    owner:@story.owner,
    writingPromptUrl:writing_prompt_url(@story.writing_prompt, format: :html),
    writingPromptText: @story.writing_prompt.text,
    name:@story.name,
    text:@story.text,
    rateUrl:rate_story_path(@story),
    url:story_url(@story, format: :json),
  },{class: "ShowStory",}) 
%>

