<%= react_component('ChangePassword',{
  changePasswordUrl: user_password_path,
  passwordLength: @minimum_password_length,
  resetPasswordToken: self.resource.reset_password_token,
},{class:"ChangePassword"})%>

<%= render "devise/shared/links" %>
