/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 
/*
TODO: I think these are unneeded, so delete this as long as it works after a rebuild
@import "colors.scss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import 'react-datepicker/dist/react-datepicker.css';
@import 'react-table/react-table.css';*/

#header{
	width:100%;
	display:table;
	height:5%;
	font-size:30px;
	position: fixed;
	background-color:#ffffff60;
	z-index: 10;
}

footer {
  position:absolute;
  bottom: 0;
}

.slick-prev:before, .slick-next:before{
	color:black;
}

#pageDiv{
	width:100%;
	height:100%;
	left: 0;
}
.welcomePageContainer{
	width:100%;
	height:100%;
	position: absolute;
  	top: 0;
	left: 0;
}

.slick-slider{
	width:96%;
	margin-left: 2%;
	height:100%;
}

.carouselHeader {
	text-align: center;
}

html,body,#welcomePageDiv{
	height:100%;
	margin: 0px;
}

nav{
	background-color: #e91e63;
}

nav > a, .nav-link{
	color:white;
}