<%= form_with(model: writing_prompt, local: true) do |form| %>
  <% if writing_prompt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(writing_prompt.errors.count, "error") %> prohibited this writing_prompt from being saved:</h2>

      <ul>
      <% writing_prompt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
