<%= react_component('WritingPrompts',{
    url:url_for(action:'index'),
    count_url:url_for(action:'count'),
    create_writing_prompt_url:url_for(action:'new'),
    logged_in: current_user.nil?
},{
    id: "pageDiv",class:"Welcome"
}) %>
