<%= react_component('WritingPrompt',{
    publishedStoriesUrl: published_stories_path(writing_prompt_id:@writing_prompt.id),
    publishedStoriesCountUrl: url_for(action:'published_count',controller:'stories',writing_prompt_id:@writing_prompt.id),
    writingPrompt: @writing_prompt,
    numPublishedStories: @writing_prompt.num_published_stories,
    createStoryUrl: url_for(action:'new',controller:'stories',writing_prompt_id:@writing_prompt.id)
},{
    class: "WritingPrompt",
}) if current_user.present?%>

<%= react_component('WritingPromptV2',{
    publishedStoriesUrl: published_stories_path(writing_prompt_id:@writing_prompt.id),
    writingPrompt: @writing_prompt,
},{
    class: "WritingPrompt",
}) if !current_user.present?%>
