<%= react_component('WelcomeV2',{
    writingPromptsUrl:url_for(action:'index',controller:'writing_prompts'),
    publishedStoriesUrl:url_for(action:'published',controller:'stories',writing_prompt_id:"")
},{id: "pageDiv",class:"Welcome"}) %>
